#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;

    .main__cont {
        font-size: 10vw;
        line-height: 0.85;
        font-family: "Saol";
        color: #fff;
        text-transform: uppercase;
    }
}
